[submodule "Resume.SQL.Data"]
	path = Resume.SQL.Data
	url = https://github.com/ClintonF84/Resume.SQL.Data.git
[submodule "Resume.Mongo.Data"]
	path = Resume.Mongo.Data
	url = https://github.com/ClintonF84/Resume.Mongo.Data.git
